body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;

}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#2cdfe6 0%, #5c699c 100%);
    display: table;
    width: 100%;
    height: 100%;

    h2 {
        font-size: 30px;
        font-weight: 300;
        line-height: 1.2;
        font-family: monospace
    }
}

.line {
    height: 10px;
    background-color: darkblue;
    width: 100px;
    margin: 8px auto
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace
}


#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

#bio {
    padding: 50px;
    
    
    
    text-align: center;
    font-size: 42px;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}



